<p-menubar [model]="menuItems" class="main-menu" [style]="{'background-color': '#003366'}"></p-menubar>

<nav>
  <ul class="menu-links">
    <li><a routerLink="/">Home</a></li>
    <li>
      <a href="#">Pay <span class="pi pi-angle-down"></span></a>
      <ul class="submenu">
        <li><a href="#">Credit</a></li>
        <li><a href="#">Debit</a></li>
      </ul>
    </li>
    <li><a href="#">Save</a><span class="pi pi-angle-down"></span></li>
    <li><a href="#">Invest</a><span class="pi pi-angle-down"></span></li>
    <li>
      <a href="#">Loans <span class="pi pi-angle-down"></span></a>
      <ul class="submenu">
        <li><a href="#">Personal Loan</a></li>
        <li><a href="#">Home Loan</a></li>
      </ul>
    </li>
    <li><a href="#">Insure</a><span class="pi pi-angle-down"></span></li>
  </ul>
</nav>
