<div class="loan-section-container">
  <div class="left-text">

    <div class="lines">
      <h2 class="h2">One Step Solution for all your Problems</h2>
    </div>

  <ul>
    <li>Financial Flexibility</li>
    <li>Affordable Interest Rates</li>
    <li>Achieve Life Goals</li>
    <li>Consolidate Debt</li>
    <li>Emergency Financial Support</li>
  </ul>
</div>
  <div class="loan-type-options">
    <h3>What kind of a Loan you are looking for?</h3>
    <form class="flex flex-column gap-3" [formGroup]="firstForm">
      <div *ngFor="let category of categories" class="field-checkbox">
          <p-radioButton 
              [inputId]="category.key" 
              [value]="category"
              formControlName="selectedCategory" />
          <label [for]="category.key" class="ml-2">
              {{ category.name }}
          </label>
      </div>
      <button pButton type="button" label="Get Started" class="get-started-btn" 
      (click)="onSubmit()"></button>
  </form>
    
   
  </div>
</div>
