<div class="container">
  <ul>
    <h2>One Step Solution for all your Problems</h2>
    <li><i class="pi pi-check-circle"></i> Financial Flexibility</li>
    <li><i class="pi pi-check-circle"></i> Affordable Interest Rates</li>
    <li><i class="pi pi-check-circle"></i> Achieve Life Goals</li>
    <li><i class="pi pi-check-circle"></i> Consolidate Debt</li>
    <li><i class="pi pi-check-circle"></i> Emergency Financial Support</li>
  </ul>
  <div class="loan-selection">
    <h3>What kind of a Loan you are looking for?</h3>
    <div class="radio-button-field">
      <p-radioButton name="loan" value="Personal Loan" [(ngModel)]="loan" inputId="personalLoan"></p-radioButton>
      <label for="personalLoan">Personal Loan</label>
    </div>
    <div class="radio-button-field">
      <p-radioButton name="loan" value="Home Loan" [(ngModel)]="loan" inputId="homeLoan"></p-radioButton>
      <label for="homeLoan">Home Loan</label>
    </div>
    <div class="radio-button-field">
      <p-radioButton name="loan" value="Gold Loan" [(ngModel)]="loan" inputId="goldLoan"></p-radioButton>
      <label for="goldLoan">Gold Loan</label>
    </div>
    <div class="radio-button-field">
      <p-radioButton name="loan" value="Student Loan" [(ngModel)]="loan" inputId="studentLoan"></p-radioButton>
      <label for="studentLoan">Student Loan</label>
    </div>
    <div class="radio-button-field">
      <p-radioButton name="loan" value="Small Business Loan" [(ngModel)]="loan" inputId="businessLoan"></p-radioButton>
      <label for="businessLoan">Small Business Loan</label>
    </div>
    <div class="radio-button-field">
      <p-radioButton name="loan" value="Fixed Deposit Loan" [(ngModel)]="loan" inputId="fixedDepositLoan"></p-radioButton>
      <label for="fixedDepositLoan">Fixed Deposit Loan</label>
    </div>

    <button pButton type="button" label="Get Started" class="action-button" (click)="onSubmit()"></button>
  </div>
</div>
